body {
  font-family: sans-serif;
  background-color: #000;
}
h1 {
    text-transform: uppercase;
    color: #EF8655;
    text-align: center;
    font-size: 70px;
}
p {
  color: red;
}

@media (min-width: 1000px) {
    .first::before {
      content: "Essential Recipes";
    }
    .second::before {
      content: "Popular Drinks";
    }
    .third::before {
      content: "Favorite Wines";
    }
}

@media (max-width: 999px) {
    .first::before {
      content: "Recipes";
    }
    .second::before {
      content: "Drinks";
    }
    .third::before {
      content: "Wines";
    }
}

#menu {
  text-align: center;
  color: #48d025;
  font-family: 'Desdemona', 'Brush Script Std', 'Comic Sans MS';
  font-size: 21px;
  font-weight:bold;
  text-shadow: 1px 1px #000;
}

a:link, a:visited {
    color:#48d025;
    text-decoration: none;
}

a:hover {
  color: #78ff55;
}

.dot {
  height: 16px;
  width: 16px;
  background-color: #ff0066;
  border-radius: 50%;
  display: inline-block;
}

.container {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.container > div {
    background-color: #e34321;
    font-size: 15px;
    width: 200px;
    height: 250px;
    margin: 20px;
}

.DrinkHeader {
  background-color: #e3ff21;
  text-transform: uppercase;
  color: #172B2E;
  font-size: 12px;
  padding: 4px;
}

.DrinkRecipe {
  padding: 8px;
}

.DrinkRecipe ul {
  padding-left: 1.2em;
}

#OrangeHeaven {
  background-color: #e78a31;
  color: black;
}

#PiscoSour {
  background-color: #34f074;
  color: black;
}

#PotionMagique {
  background-color: #F78E1E;
  color: black;
}

#SmoothRita {
  background-color: #ec4a61;
  color: black;
}

#TheBeachBomb {
  background-color: #1fb6d1;
  color: black;
}

#TheSundayAfternoon {
  background-color: #fea700;
  color: black;
}
