body {
  font-family: sans-serif;
}
h1 {
    text-transform: uppercase;
    color: #EF8655;
    text-align: center;
    font-size: 70px;
}
p {
  color: red;
}

@media (min-width: 1000px) {
    .first::before {
      content: "Essential Recipes";
    }
    .second::before {
      content: "Popular Drinks";
    }
    .third::before {
      content: "Favorite Wines";
    }
}

@media (max-width: 999px) {
    .first::before {
      content: "Recipes";
    }
    .second::before {
      content: "Drinks";
    }
    .third::before {
      content: "Wines";
    }
}

#menu {
  text-align: center;
  color: #48d025;
  font-family: 'Desdemona', 'Brush Script Std', 'Comic Sans MS';
  font-size: 21px;
  font-weight:bold;
  text-shadow: 1px 1px #000;
}

a:link, a:visited {
    color:#48d025;
    text-decoration: none;
}

a:hover {
  color: #78ff55;
}

.dot {
  height: 16px;
  width: 16px;
  background-color: #ff0066;
  border-radius: 50%;
  display: inline-block;
}
